{% extends 'base.html' %}

{% block page_title %}Blog | Stock Katha{% endblock page_title %}
{% block page_links_top %}{% endblock page_links_top %}
{% block page_styles %}{% endblock page_styles %}
{% block page_scripts_top %}{% endblock page_scripts_top %}

{% block nav_links %}
{% include 'blog/includes/navbar.html' %}
{% endblock nav_links %}


{% block page_content %}
    <div class="container mt-2">
        {% for post in post_list %}
        <div class="post border p-3 mb-3">
            <h3>{{post.title}}</h3>
            <p>{{post.body|truncatewords:20|safe}}</p>
            <div class="d-flex justify-content-between">
                <div>
                    <a href="{% url 'blog:view-post' post.pk %}" class="btn btn-primary">Read More</a>
                    <a href="{% url 'blog:update-post' post.pk %}" class="mx-2">Update</a>
                </div>
                <div>
                    <span class="lead text-muted d-none d-lg-inline">Created at: {{post.created_at}}</span>
                    <span class="lead text-muted d-none d-lg-inline">Last Edited: {{post.edited_at}}</span>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No post till now. <a href="#">Add a post</a></p>
        {% endfor %}
    </div>
{% endblock page_content %}

{% block page_links_bottom %}{% endblock page_links_bottom %}
{% block page_scripts_bottom %}{% endblock page_scripts_bottom %}